*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.faq-wrap {
    width: 800px;
    margin: 0 auto;
}

.question {
    background-color: #888;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding: 16px;
}
.faq-wrap.active  svg {
    transform: rotate(180deg);
}

svg {
    transition: .5s ease;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: .6s ease-in-out;
    
}

.faq-wrap.active .answer {
 max-height: 300px;
 padding: 10px 0;
}