.dark-mode {
    background-color: black;
    color:white;
}

button {
    padding: 10px;
    cursor: pointer;
}

.dark-mode button {
    background-color: green;
    color: white;
    border: none;
}
.dark-mode p {
    color: skyblue;
}